{
  "server": {
    "ip": "0.0.0.0",
    "port": 3000,
    "uploadTmpDir": "/tmp",
    "uploadMainDir": "/tmp"
    "defaultTtl": 7,
    "purgeDelay": 86400
  },
  "pki": {
    "key": "./pki/server.key",
    "cert": "./pki/server.crt"
  },
  "log4js": {
    "level": "info",
    "settings": {
      "appenders": {
        "file": {
          "type": "file",
          "filename": "./logs/server.log",
          "maxLogSize": 10240,
          "backups": 10
        },
        "console": {
          "type": "console"
        }
      },
      "categories": {
        "default": {
          "appenders": [
            "file",
            "console"
          ],
          "level": "info"
        }
      }
    }
  },
  "tokens": {
    "testToken": {
      "dir": "uploadDirFor_testToken"
    }
  }
}